:root {
  --Blue5: #ADD6EB;
  --Blue4: #7DBDDE;
  --Blue3: #4DA5D1;
  --Blue2: #2978A0;
  --Blue1: #1D5572;
  --Blue0: #143D52;
  --Aqua2: #ACFCD9;
  --Aqua1: #75FAC0;
  --Aqua0: #26F79D;
  --Turquoise5: #7CDFCB;
  --Turquoise4: #5DD9C1;
  --Turquoise3: #2FC6A8;
  --Turquoise2: #27A58C;
  --Turquoise1: #1B7462;
  --Turquoise0: #104238;
  --Grey5: #FFFFFF;
  --Grey4: #E0E0E0;
  --Grey3: #C2C2C2;
  --Grey2: #42424C;
  --Grey1: #2C2C34;
  --Grey0: #131316;
}

body {
  --Brand: var(--Blue2);
  --Text: var(--Grey0);
  --ActiveText: var(--Grey1);
  --Panel: var(--Grey5);
  --Background: var(--Grey4);
  --LightPanel: var(--Grey3);
}

body.dark-mode {
  --Brand: var(--Blue3);
  --Text: var(--Grey5);
  --ActiveText: var(--Grey4);
  --Panel: var(--Grey1);
  --Background: var(--Grey0);
  --LightPanel: var(--Grey2);
}

body {
  font-family: verdana, sans-serif;
  background-color: var(--Background);
  color: var(--Text);
  display: flex;
  justify-content: center;
}

#page {
  display: grid;
  grid-template-columns: minmax(30em, 50em) 16em;
  grid-template-areas:
    'header header'
    'content right-panel';
  row-gap: 1em;
  width: fit-content;
  background-color: var(--Panel);
}

#header {
  grid-area: header;
  min-height: 6em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1em;
}

#left-panel {
  grid-area: left-panel;
}

#right-panel {
  grid-area: right-panel;
}

#content {
  grid-area: content;
  padding: 1em;
}

.brand {
  color: var(--Brand);
}

.monospace {
  font-family: monospace;
  background-color: var(--LightPanel);
  padding: 0.25em;
}

.logo {
  font-weight: 600;
  font-size: 2em;
  display: flex;
  align-items: center;
  column-gap: 0.25em;
}

button {
  border: none;
  border-radius: 0.5em;
  background-color: var(--Background);
  color: var(--Text);
  padding: 0.5em;
}

p {
  line-height: 1.5;
}

a {
  color: var(--ActiveText);
}
