body {
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
h1, h2, h3, span {
  color: white;
  margin: 0;
}
#scrolling-images {
  display: block;
  width: 248px;
  height: 248px;
  margin: 0 auto;
  position: relative;
  transform: translateX(0);
  text-align: center;
}

.moving-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(720px);
  animation: slideshow 5s linear infinite;
  border: 4px solid white;
  height: 240px;
}

@keyframes slideshow {
  0% {
    transform: translateX(720px);
  }
  100% {
    transform: translateX(-720px);
  }
}

.single {
 height: 240px; 
}
.clover {
  height: 60px;
  position: absolute;
  right: 90px;
  bottom: 90px;
  transform: translate(75px, 75px) rotate(0deg);
  animation: clover 3s linear infinite;
  opacity: 0;
}
.clover.visible {
  opacity: 1;
}
img.gray {
  filter: grayscale();
}

@keyframes clover {
  0% {
    transform: translate(75px, 75px) rotate(0deg);
  }
  25% {
    transform: translate(-75px, 75px) rotate(-270deg);
  }
  50% {
    transform: translate(-75px, -75px) rotate(-540deg);
  }
  75% {
    transform: translate(75px, -75px) rotate(-810deg);
  }
  100% {
    transform: translate(75px, 75px) rotate(-1080deg);
  }
}

button {
  font-size: 3em;
  text-transform: uppercase;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 24px;
  background: linear-gradient(115deg, rgba(133,0,172,1) 0%, rgba(9,9,121,1) 58%, rgba(57,0,121,1) 100%);
  cursor: pointer;
}
.button-gray {
  background: #888;
  color: black;
}
#outer {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}
.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.hidden {
  visibility: hidden;
  display: none;
}

@keyframes toggle-1 {
  0% { opacity: 0; }
  25% { opacity: 1; }
}
@keyframes toggle-2 {
  0% { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes toggle-3 {
  0% { opacity: 0; }
  75% { opacity: 1; }
}
.dot-1 {
  animation: toggle-1 1s step-end infinite;
}
.dot-2 {
  animation: toggle-2 1s step-end infinite;
}
.dot-3 {
  animation: toggle-3 1s step-end infinite;
}

#scan-box {
  width: 248px;
  height: 248px;
  border: 2px solid white;
  position: relative;
}

#loading-bar {
  width: 200px;
  height: 36px;
  border: 2px solid white;
}

#loading-content {
  height: 100%;
  width: 10px;
  background-color: #0F0;
  transition: width 5s linear;
  /* animation: width 5s linear; */
}
#loading-content.loading-grow {
  transition: width 6s linear;
  width: 200px;
}

@keyframes horizontal-scan {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(244px);
  }
  100% {
    transform: translateY(0px);
  }
}

.scan-hori {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0F0;
  width: 100%;
  height: 4px;
  animation: horizontal-scan 3s ease-in-out infinite;
}
.scan-hori.a {
  opacity: 0.7;
  animation-delay: 0.04s;
}
.scan-hori.b {
  opacity: 0.4;
  animation-delay: 0.08s;
}

@keyframes vertical-scan {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(244px);
  }
  100% {
    transform: translateX(0px);
  }
}

.scan-vert {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0F0;
  width: 4px;
  height: 248px;
  animation: vertical-scan 2.1s ease-in-out infinite;
  animation-delay: -1s;
}
.scan-vert.a {
  opacity: 0.7;
  animation-delay: -1.04s;
}
.scan-vert.b {
  opacity: 0.4;
  animation-delay: -1.08s;
}
