body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.header-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.header-row > button {
    font-size: 1.2em;
    line-height: 20px;
    border-radius: 50%;
    aspect-ratio: 1;
}

.header-row > button:hover {
    outline: 2px solid white;
    cursor: pointer;
}

canvas {
    border: 1px solid orangered;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-15deg); }
    40% { transform: rotate(15deg); }
    60% { transform: rotate(-15deg); }
    80% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}

.normal-guess {
    list-style-type: none;
    min-width: 120px;
    background-color: #001083;
    border-radius: 3px;
    padding: 6px 12px;
}

.post-guess {
    list-style-type: none;
    min-width: 0;
    opacity: 1;
    font-size: 1.4em;
    animation: wiggle 0.6s;
}

.post-guess[data-hidden="true"] {
    opacity: 0;
    animation: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
}

ul#post-guess-list {
    flex-direction: row;
    justify-content: center;
}

dialog {
    color: white;
    text-align: center;
    background-color: #363636;
    border-radius: 12px;
    padding: 9px 28px;
    min-width: 240px;
    max-width: 300px;
    padding-bottom: 20px;
    margin: 32px auto;
}

dialog#info-modal > div {
    padding-bottom: 8px;
    text-align: left;
}

dialog::backdrop {
    background-color: #00000088;
}

.close-button {
    position: absolute;
    top: 4px;
    right: 4px;
}

button[data-hidden="true"] {
    visibility: hidden;
}

.subtle-button {
    background: none;
    border: none;
    padding: 2px;
    color: white;
}

.nice-button {
    border: none;
    border-radius: 3px;
    padding: 3px 8px;
    background-color: rgb(42, 138, 234);
    color: white;
}

.nice-button:hover {
    background-color: rgb(57, 122, 188);
}

.nice-button:active {
    background-color: rgb(22, 77, 132);
}

input {
    border: none;
    border-radius: 3px;
    padding: 3px;
}
